.navigation {
  padding: 25px 45px;
  margin-left: -30px;
  margin-right: -30px;
  background-color: #F1F1F1;
  border-radius: 10px;
}

.navigation__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 44px;
}

.navigation__list {
  list-style-position: inside;
}

.navigation__list:not(:last-child) {
  margin-bottom: 30px;
}

.navigation__list_style_line {
  list-style-type: '— ';
}

.navigation__item::marker {
  color: #02535F;
}

.navigation__item:not(:last-child) {
  margin-bottom: 10px;
}

.navigation__link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #02535F;
  border-bottom: #000000 solid 1px;
}
